<template>
  <div class="text-center my-3">
    <h1 class="my-3">Pokedex Vuex</h1>
    <input 
      type="text" 
      v-model="dato" 
      required
      placeholder="Ingrese Nombre o Id"
    />

    <button 
      class="btn btn-info btn-sm ms-2" 
      @click="procesar"
    >
      Buscar Pokemon
    </button>

    <div class="text-center" v-if="dato">
      <h3 class="mt-5">{{ pokeInfo.name }}</h3>
      <img :src="pokeInfo.sprites.front_default" :alt="pokeInfo.name" />
    </div>
  </div>

</template>

<script>
import { computed, ref } from "vue";
import { useStore } from "vuex";

export default {
  setup() {
    const dato = ref("");

    const store = useStore();

    const pokeInfo = computed(() => {
      return store.state.pokemon;
    });

    const procesar = () => {
      store.dispatch("getPokemon", dato.value);
    };

    return {
      dato,
      pokeInfo,
      procesar,
    };
  },
};
</script>

<style>
</style>