<template>
<div class="container">
  <poke-view />
</div>
</template>

<script>
import PokeView from './components/PokeView.vue'


export default {
  name: 'App',
  components: {
    PokeView
    
  }
}
</script>

